
<h2>User List</h2>
<h3><button class="btn btn-success" routerLink="/create-users">Add User</button></h3>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> Name </th>
            <th> Email </th>
            <th> Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let user of users" >
            <td> {{ user.username }} </td>
            <td> {{ user.email }} </td>
            <td>
                
                <button (click)="updateUser(user.id)" class="btn btn-info" >update</button>
                
                <button (click)="deleteUser(user.id)" class="btn btn-danger" style="margin-left: 10px;">delete</button>
            </td>
        </tr>
    </tbody>
</table>
