<div class="col-md-6 offset-md-3">
    <h3> Create project </h3>
    <form (ngSubmit) = "onSubmit()" >
        <div class="form-group">
            <label> Project name </label>
            <input type="text" class="form-control" id="projectName"
            [(ngModel)] = "project.projectName" name = "projectName">
        </div>
        <div class="form-group">
            <label> description </label>
            <input type="text" class="form-control" id="description"
            [(ngModel)] = "project.description" name = "description">
        </div>
        <div class="form-group">
            <label> manager </label>
            <input type="text" class="form-control" id="manager"
            [(ngModel)]="managerId" name="manager">
        </div>
    
        <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
        </div>

        <br>
        <button class = "btn btn-success" type = "submit">Submit</button>
    
    </form>
    
    </div>
