<h3><button class="btn btn-success" routerLink="/create-project">Add project</button></h3>
<table class = "table table-striped">
    <thead>        
        <tr>
            <th> Name </th>
            <th> Description </th>
            <th> Manager Id</th> 
            <th class="action"> Action </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let project of projects | async" >
            <td> {{project.projectName }} </td>
            <td> {{ project.description }} </td>
            <td> {{ project.manager.id }} </td>
            <td class="actions-columns">                           
                 <button (click)="updateProject(project.id)" class=" = btn btn-info"> update </button>
                 <button (click)="issueList(project.id)" class=" = btn btn-info"> issue list </button>
                 <button (click)="deleteProject(project.id)" class="btn btn-danger" style="margin-left: 10px;">delete</button>
            </td>
        </tr>
    </tbody>
</table>
